[submodule "FinRobot"]
	path = FinRobot
	url = git@github.com:SAbdulRahuman/FinRobot.git
	branch = master
[submodule "gemini-cli"]
	path = gemini-cli
	url = git@github.com:SAbdulRahuman/gemini-cli.git
	branch = main
[submodule "picoclaw"]
	path = picoclaw
	url = git@github.com:SAbdulRahuman/picoclaw.git
	branch = main
[submodule "qwen-code"]
	path = qwen-code
	url = git@github.com:SAbdulRahuman/qwen-code.git
	branch = main
[submodule "openclaw"]
	path = openclaw
	url = git@github.com:SAbdulRahuman/openclaw.git
	branch = main
